@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F8F6;
  --foreground: #1D1D1D;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #E5E5E5;
    border-radius: 10px;
  }
}
