@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .bg-gradient-hero {
    background: linear-gradient(to bottom right, #0f172a, #1e1b4b, #4c1d95);
  }
}
